h1{
    color: darkblue;

    text-align: center;
    font-size: 60px;
}


h2{
    color:rgb(228, 133, 73);
    text-align: center;
    font-weight: 100px;
    font-size: 40px;
}

.buttons{
    background-color: rgb(196, 145, 243);
    border-style: hidden;
    border-radius: 20px;
    width: 150px;
    height: 50px;
    font-size: 20px;
}
.One{
    float: left;
    display: inline;
}
.Two{
    float: right;
    display: inline;
}

