
@import url('https://fonts.googleapis.com/css2?family=Butterfly+Kids&family=Caveat:wght@400..700&family=Ga+Maamli&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Pacifico&display=swap');
.butterfly-kids-regular {
    font-family: "Butterfly Kids", cursive;
    font-weight: 400;
    font-style: normal;
  }

hr{
    border-top: solid rgb(91, 119, 243);
    border-radius: 80%;
}

h1{
    color: darkblue;
    text-align: center;
    font-size: 80px;
    font-family: "Butterfly Kids", cursive;
}
.Red{
    color: red;
}
.Yellow{
    color: rgb(0, 255, 42);
}
h2{
    color: rgb(115, 113, 237);
    text-align: center;
    font-family:sans-serif;
    font-weight:lighter
}
h3{
    color: darkblue;
    font-family: "Butterfly Kids", cursive;
    font-size: 30px;
}

p{
    font-family:sans-serif;
    font-weight:lighter;
    font-size: small;

}